.sidebar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: parent; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
body {
  /*overflow: hidden;
  height: 500px;
  overflow:scroll; */
}
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #818181;
  display: block;
  font-family: 'Oleo Script';
  font-size: 22px;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.main {
  padding-top: 20px;
 
  height: 100%;
}

.navbar {
  font-family: 'Oleo Script';
  font-size: 25px;
  background-color: #111;
}

.navbar-brand {
  font-family: 'Oleo Script';
  font-size: 50px;
}

.login-container {
  top: parent;
  height: 100%;
  background-color: #818181;
}

.login-header {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

.login-header h2 {
  text-align: center;
  font-family: 'Oleo Script';

}

.login-header table {
  border-collapse: separate;
  border-spacing: 10px;
  font-family: 'Kreon';
  font-size: 17px;
  
}

.table-container table{
 /* border-collapse: separate; */
  border-spacing: 10px;
  font-family: 'Kreon';
  font-size: 17px;
  width: 80%;
}

.table-container table th {
 

}

.top-anime-rank {
  font-size: 40px;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
}