{% extends 'base.html' %}

{% block main_content %}
    <div class="login-container">
        <div class="login-header">
           <h2>Please sign in</h2> 
           <p>Don't have an account? <a href="register.html">Register.</a> It's free!</p>
        <form action="">
            <center><table>
                <tr>
                    <td><label for="username">Username</label></td>
                </tr>
                <tr>
                        <td><input type="text" name="username" id="username"></td>
                </tr>
                <tr>
                    <td><label for="password">Password</label></td>
                    
                </tr>
                <tr>
                        <td><input type="password" name="password" id="password"></td>
                </tr>
            </table></center> <br>
            <center><input type="submit" value="Log In" class="btn btn-secondary"></center>
        </form>
        </div>
    </div>
{% endblock %}