{% extends "index.html" %}
{% block list_content %}
<center>
<div class="table-container">
    {% if anime_list %}
    <table>
    <tr>
        <th>Rank</th>
        <th>Title</th>
        <th>MAL Score</th>
        {% if request.path == '/animeList' %}
        <th><a href="{{url_for('anime_list', sort_type='user')}}">My Score</a</th>
        {% else %}
        <th><a href="{{url_for('anime_list')}}">My Score</a</th>
        {% endif %}
        <th>Delete</th>
        <th>Edit</th>

    </tr>
    {% for anime in anime_list %}
        <tr>
                <td class = "top-anime-rank">{{ anime.rank }}</td>
                <td><img src="{{anime.image_url}}" style="width: 50px; height: 70px; margin-right:15px;"/>{{ anime.title }}</td>
                <td>{{ anime.mal_score }}</td>
                <td>{{ id_dict[anime.mal_id|string] }}</td>
                <td><a href="{{url_for('delete_anime',id=anime.mal_id)}}" class="btn btn-danger"><i class="fa fa-trash"></i></a></td>
                <td><a href-"#" class="btn btn-primary"><i class = "fa fa-edit"></i></a></td>
        </tr>
    {% endfor %}
    </table>
    {% else %}
    <p>Empty list! Add from top anime or by searching.</p>
    {% endif %}
</div>
</center>
{% endblock %}