{% extends "base.html" %}
        {% block navbar_content %}
        <ul class="navbar-nav ml-auto">
            {% if current_user.is_anonymous %}
            <li><a href="login" class="nav-link ">Login</a></li>
            <li><a href="register" class="nav-link ">Register</a></li>
            {% else %}
            <li><div class="dropdown show">
                <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ current_user.username }}
                </a>
              
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="{{ url_for('index')}}">Home</a>
                  <a class="dropdown-item" href="{{ url_for('my_profile')}}">Profile</a>
                  <a class="dropdown-item" href="{{ url_for('anime_list')}}">Lists</a>
                  <a class="dropdown-item" href="{{ url_for('logout')}}">Logout</a>
                </div>
              </div></li>
            {% endif %}
        </ul>
    {% endblock %}
    {% block main_content %}
    {%  if current_user.is_authenticated %}
    <div class="main">   
        {% block list_content %}
        {% endblock %} 
    </div>
    {% else %}
    <div class = "login-container">

    </div>
    {%  endif %}
    {% endblock %}
