{% extends 'base.html' %}

{% block main_content %}
    <div class="login-container">
        <div class="login-header">
           <h2>Please sign in</h2> 
           <p>Don't have an account? <a href="register">Register.</a> It's free!</p>
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <center><table>
                <tr>
                    <td>{{ form.username.label }}</td>
                </tr>
                <tr>
                        <td>{{ form.username(size=32) }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label }}</td>
                    
                </tr>
                <tr>
                        <td>{{ form.password(size=32)}} </td>
                </tr>
            </table></center> <br>
            <center>{{ form.submit(class_="btn btn-secondary") }}</center>
        </form>
        </div>
    </div>
{% endblock %}