{% extends 'base.html' %}
    {% block main_content %}
    <div class="login-container">
        <div class="login-header">
           <h2>Start using trackr</h2>
           <p>Join m3 to catalog your anime, games, movies and compare with your friends, create your own profile, and plenty more.</p> 
           <p>Already have an account? <a href="login">Log in.</a></p>
           <form action="" method="POST" novalidate>
               {{ form.hidden_tag() }}
                <center><table>
                        <tr>
                                <td>{{ form.email.label }}</td>
                            </tr>
                            <tr>
                                    <td>{{ form.email(size=64) }} {% for error in form.email.errors %}
                                            <span style="color: red;">[{{ error }}] </span>
                                            {% endfor %}</td>
                            </tr>
                            
                        <tr>
                            <td>{{ form.username.label }}</td>
                        </tr>
                        <tr>
                            <td>{{form.username(size=32)}} {% for error in form.username.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}</td>
                        </tr>
                            
                        <tr>
                            <td>{{ form.password.label }}</td>
                        
                        </tr>
                        <tr>
                            <td>{{ form.password(size=32) }} {% for error in form.password.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}</td>
                     </tr>
                        
                    <tr>
                            <td>{{ form.password2.label }}</td>
                            
                    </tr>
                    <tr>
                        <td>{{ form.password2(size=32) }} {% for error in form.password2.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}</td>
                    </tr>
                        
                    </table>
                </center>
                <br>
                <center>{{ form.submit(class_="btn btn-secondary") }}</center>
            </form>
        </div>
    </div>
{% endblock %}